@charset "UTF-8";
html{
    background: grey;
}

body{
    margin: 0;
    padding: 0;
}

#kontener{
    /* background: antiquewhite;*/
    width: 90%;
    margin: 0 auto;
    font-family: "Tahoma","sans-serif";
    font-size: 10pt;
}
#page-nav label, #hamburger {
    display: none;
}

#pyt {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    display:table;
    width: 200px;
}
span {
    width: 1%;
    padding-right: 10px;
}
input, span {
    display:table-cell;
}
input {
    width: 100%;
}


#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

}



#naglowek{
    width: 100%;
    background: aliceblue;
    text-align: center;
    font-size: 200%;
    height: 150px;
}

#naglowek h1{
    margin: 0;
    padding-top: 45px;
}
#srodek{
    /* background: #bbb;*/
    margin-top: 10px;
    margin-bottom: 10px;

}
#menu
{
    width: 150px;
    /*    background: #999;*/
    float: left;
    margin-bottom: 10px;

}
#menu ul{
    margin: 0;
    padding:0 ;
}

#menu li{
    padding: 10px 0;
    font-size: 22px;
}
#menu a {
    text-decoration: none;
    color:black;
    background: #eee;
    padding: 4px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

#menu a:hover{
    color: white;
    color: #888;

}


#newsy{
    background: #ddd;
    padding: 0 0px 0px;
}
#tresc{
    background: #ccd;
    text-align: justify;
    padding: 5px;
    margin-left: 160px
    /*width: calc(100% - 170px);
    float: right;*/
}
#stopka {
    clear: both;
    background: #888;
    color: white;
    text-align: center;
}

@media only screen and (max-width:  600px){
    #menu{
        width: 100%;
        padding: 0;
    }

    #page-nav label, #hamburger {
        display: none;
    }

    #newsy{
        text-align: center;
        margin-bottom: 5px ;
    }
    #tresc{
        clear: both;
        margin-left: 0;
    }

    #kontener{
        min-width: 320px;
    }
}
@media only screen and (max-width: 480px) {
    #page-nav{
        text-align: center;

    }
    #page-nav label{
        display: inline-block;
    }
    #page-nav ul li {
        display: block;
    }
    #page-nav ul li {
        border-top: 1px solid #333;
    }
    #page-nav ul {
        display: none;
    }
    #page-nav input:checked ~ ul {
        display: block;
    }
    #menu{
        width: 100%;
        padding: 0;
    }

    #newsy{
        text-align: center;
        margin-bottom: 5px ;
    }
    #tresc{
        clear: both;
        margin-left: 0;
    }

    #kontener{
        min-width: 320px;
    }
}